.container * {
    font-size: 1.5rem;
}

.bmkHistory, .delHistory {
    font-size: 1rem;
    position: absolute;
    top: 20px;
    right: 20px;
}
.bmkHistory { right: 100px; }

.infoBox {
    position: relative;
    width: 820px;
    text-align: justify;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
            "infoImgArea infoTextArea"
            "ButtonArea ButtonArea"
}

.infoImgArea {
    grid-area: infoImgArea;
    padding-left: 25px;
}
.infoTextArea {
    grid-area: infoTextArea;
    padding-left: 25px;
}
.ButtonArea {
    grid-area: ButtonArea;
    padding-top: 30px;
}

.infoImg, .infoText {
    width: 360px;
    vertical-align: middle;
}

.reInputButton {
    width: 808px;
}

@media (max-width: 900px) {
    .infoBox {
        width: 400px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "infoImgArea"
            "infoTextArea"
            "ButtonArea";
    }
    .reInputButton {
        width: 348px;
        font-size: 1.2rem;
    }
    .ButtonArea {
        padding-top: 10px;
    }
    .infoImgArea, .infoTextArea, .ButtonArea{
        padding-left: 20px;
    }
}