.container * {
    font-size: 1.5rem;
}

.infoBox {
    position: relative;
    width: 50vw;
    text-align: justify;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
            "infoImgArea infoTextArea"
            "infoMapArea infoTextArea"
}

.infoImgArea {
    border: lightseagreen 3px solid;
    border-radius: 1%;
    grid-area: infoImgArea;
    display: flex;
    justify-content: center;
}
.infoMapArea {
    border: lightseagreen 3px solid;
    border-radius: 1%;
    grid-area: infoMapArea;
    display: flex;
    justify-content: center;
}
.infoTextArea {
    border: lightseagreen 3px solid;
    border-radius: 1%;
    grid-area: infoTextArea;
    /*padding-left: 25px;*/
}

.infoImg, .infoText {
    max-width: 25vw;
    max-height: 30vh;
    /*vertical-align: middle;*/
}

#map {
    width: 25vw;
    height: 30vh;
    vertical-align: middle;
}

#aLineReview {
    box-sizing: border-box;
    width: 24.5vw;
    padding: 10px 0;
}

.reInputButton {
    box-sizing: border-box;
    width: 24.5vw;
}

.infoTextArea table {
    margin: auto;
    /*border: black 1px solid;*/
    width: 25vw
}

@media (max-width: 1506px) {
    .infoBox {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "infoImgArea"
            "infoMapArea"
            "infoTextArea";
    }
}