<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.srchhisto.dao.ISrchhistoDAO">

    <insert id="storeInsert" parameterType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        insert ignore into ${username} (imageFileName, gpsAddress, roadAddress, storeName, storePhone, storeMenu, rate, aLineReview, isBookmarked)
        values (#{imageFileName}, #{gpsAddress}, #{roadAddress}, #{storeName}, #{storePhone}, #{storeMenu}, #{rate}, #{aLineReview}, #{isBookmarked});
    </insert>

    <select id="getListSize" parameterType="com.project.member.Member" resultType="Integer">
        use srchhisto;
        select count(*) from ${username};
    </select>

    <select id="getBookmarkedSize" parameterType="com.project.member.Member" resultType="Integer">
        use srchhisto;
        select count(*) from ${username} where isBookmarked = '1';
    </select>

    <select id="selectHistory" parameterType="Map" resultType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        select * from ${username} limit ${startIndex}, ${contentPerPage};
    </select>

    <select id="storeSelect" parameterType="com.project.member.Member" resultType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        select * from ${username};
    </select>

    <select id="bookmarkedStoreSelect" parameterType="com.project.member.Member" resultType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        select * from ${username} where isBookmarked = '1';
    </select>

    <update id="storeBookmark" parameterType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        update ${username} set isBookmarked = '1' where imageFileName = #{imageFileName};
    </update>

    <update id="storeUnBookmark" parameterType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        update ${username} set isBookmarked = '0' where imageFileName = #{imageFileName};
    </update>

    <delete id="storeDelete" parameterType="com.project.srchhisto.Srchhisto">
        use srchhisto;
        delete from ${username} where imageFileName = #{imageFileName};
    </delete>

</mapper>